@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$colors: (primary: #1976D2,
secondary: #424242,
accent: #82B1FF,
error: #FF5252,
info: #2196F3,
success: #4CAF50,
warning: #FFC107);
body {
    background-color: #f9f9fc !important;
    color: #535b86 !important;
    font-family: 'Poppins', sans-serif !important;
}

.v-data-table tbody tr:hover {
    background: #f9f9fc !important;
}

.v-toolbar {
    box-shadow: 0 0 40px 0 rgba(82, 63, 105, .1) !important;
}

.v-tabs {
    font-family: 'Poppins', sans-serif;
    color: #6c7293;
    font-size: 13px;
    font-weight: 500;
}

.v-tab:hover {
    background: #f5f6fc;
    color: #5867dd;
    border-bottom-color: #5867dd;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.theme--light.v-card {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05) !important;
    border-radius: 4px;
    width: fit-content;
    // margin: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff !important;
    color: #646c9a !important;
    border-bottom: 3px solid rgba(89, 29, 241, .2) !important;
}

.v-application .primary {
    background-color: #5867dd !important;
    border-color: #5867dd !important;
    color: #fff !important;
}

.custom-loader {
    animation: loader 1s infinite;
    display: flex;
}

@-moz-keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}